body {
    background-color:#F8F8F8;
    font-family: Arial;
    max-width: 900px;
    text-align: justify;
    text-justify: auto;
}
#editor {
    border: 1px solid #BBB;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 525px;
    width: 900px;
}
#output {
    border: 1px solid #BBB;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 900px;
}
#options {
    border: 1px solid #BBB;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 875px;
}
.analyse-button:hover {
    background-color: white;
    color: #555555;
}
.analyse-button:active {
    background-color: orange;
    color: white;
}
.analyse-button:disabled {
    background-color: orange;
    border-color: lightgrey;
    color: grey;
}
.analyse-button {
    background-color: #555555;
    border: solid;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    position: relative;
    left: 775px;
}
